DL-IAM/node-red decoder dl-iam flow
[{"id":"e9e619fe.4bcdc8","type":"function","z":"a2f613f5.d6fd4","name":"Base64 decoder","func":"var b= new Buffer(msg.payload, 'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":278.33333587646484,"y":267.66662311553955,"wires":[["bc3c5d88.8493e","85c66458.2fab08","5efb52b9.8c0c1c","e9f6c114.a984a","ddcdd6f2.798f88","b8c1c3a3.8ab14","e558e891.708bb8","e32a528c.f113b","355c4d9b.c68892","eb99fb12.7ca878","860216d9.8e25c8","949af279.d450e","f198c853.3c9ad8","326f86.f544d07a","83304c12.efbb3"]]},{"id":"bc3c5d88.8493e","type":"debug","z":"a2f613f5.d6fd4","name":"decoded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900.916669845581,"y":185.6388463973999,"wires":[]},{"id":"b520b9c2.408e28","type":"inject","z":"a2f613f5.d6fd4","name":"Test AgvuAH8JpWO6dNDEQAHTAEeEFgAAjBQBTAAT","topic":"","payload":"AgvuAH8JpWO6dNDEQAHTAEeEFgAAjBQBTAAT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":235.08334350585938,"y":670.9166135787964,"wires":[["1b3c3225.26695e","e9e619fe.4bcdc8"]]},{"id":"1b3c3225.26695e","type":"debug","z":"a2f613f5.d6fd4","name":"base64 encoded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":391.83331298828125,"y":738.1666135787964,"wires":[]},{"id":"85c66458.2fab08","type":"function","z":"a2f613f5.d6fd4","name":"version","func":"var a={payload: msg.payload[0]};\nreturn a;","outputs":1,"noerr":0,"x":651.4722290039062,"y":259.63885498046875,"wires":[["8748b433.de1178"]]},{"id":"8748b433.de1178","type":"debug","z":"a2f613f5.d6fd4","name":"version","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":959.3611145019531,"y":249.7499189376831,"wires":[]},{"id":"5efb52b9.8c0c1c","type":"function","z":"a2f613f5.d6fd4","name":"device id","func":"msg.payload = msg.payload.readUInt16BE(1)\nreturn msg;\n","outputs":1,"noerr":0,"x":638.8610687255859,"y":297.97216415405273,"wires":[["3d441fca.b1e6f"]]},{"id":"3d441fca.b1e6f","type":"debug","z":"a2f613f5.d6fd4","name":"device id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":941.916618347168,"y":298.97217655181885,"wires":[]},{"id":"e9f6c114.a984a","type":"function","z":"a2f613f5.d6fd4","name":"battery voltage","func":"msg.payload = msg.payload.readUInt16BE(5)/1000\nreturn msg;\n","outputs":1,"noerr":0,"x":653.4166564941406,"y":376.5276975631714,"wires":[["4d10eb33.f7ae24"]]},{"id":"4d10eb33.f7ae24","type":"debug","z":"a2f613f5.d6fd4","name":"battery voltage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":951.4722290039062,"y":379.30546855926514,"wires":[]},{"id":"ddcdd6f2.798f88","type":"function","z":"a2f613f5.d6fd4","name":"flags","func":"msg.payload = msg.payload.readUInt16LE(3)\nreturn msg;\n","outputs":1,"noerr":0,"x":627.4166564941406,"y":337.3055295944214,"wires":[["b4ad9849.2d2e08"]]},{"id":"b4ad9849.2d2e08","type":"debug","z":"a2f613f5.d6fd4","name":"flags","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":932.4721946716309,"y":342.19440746307373,"wires":[]},{"id":"b8c1c3a3.8ab14","type":"function","z":"a2f613f5.d6fd4","name":"air temperature","func":"msg.payload = ((msg.payload.readUInt16BE(7))/65535)*175-45;\nreturn msg;\n","outputs":1,"noerr":0,"x":653.3054809570312,"y":417.19438457489014,"wires":[["926e4d3c.71b34"]]},{"id":"926e4d3c.71b34","type":"debug","z":"a2f613f5.d6fd4","name":"air temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":962.6943969726562,"y":416.97221660614014,"wires":[]},{"id":"873a519b.22bbb","type":"mqtt in","z":"a2f613f5.d6fd4","name":"subscribe # 192.168.1.214:1883","topic":"#","qos":"2","datatype":"auto","broker":"b2d63575.e9e5e8","x":175.99998474121094,"y":99.66666412353516,"wires":[["14b937e2.eefd28","abb40670.c29f88"]]},{"id":"14b937e2.eefd28","type":"debug","z":"a2f613f5.d6fd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":426.2500190734863,"y":139.72221279144287,"wires":[]},{"id":"abb40670.c29f88","type":"json","z":"a2f613f5.d6fd4","name":"","property":"payload","action":"obj","pretty":false,"x":409.8749809265137,"y":88.16666221618652,"wires":[["2ebc0ff1.7226c","b6025bcc.16da28"]]},{"id":"7d581385.2da35c","type":"debug","z":"a2f613f5.d6fd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":836.763843536377,"y":87.27777290344238,"wires":[]},{"id":"2ebc0ff1.7226c","type":"function","z":"a2f613f5.d6fd4","name":"data:","func":"var datastring = msg.payload.data\nmsg.payload = datastring;\nreturn msg;","outputs":1,"noerr":0,"x":665.4861106872559,"y":85.83333015441895,"wires":[["7d581385.2da35c","67ccd12b.096de"]]},{"id":"b6025bcc.16da28","type":"debug","z":"a2f613f5.d6fd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660.5972290039062,"y":38.388885498046875,"wires":[]},{"id":"e558e891.708bb8","type":"function","z":"a2f613f5.d6fd4","name":"air_humidity","func":"\nmsg.payload = ((msg.payload.readUInt16BE(9))/65535)*100;\nreturn msg;","outputs":1,"noerr":0,"x":642,"y":457.9999876022339,"wires":[["4018f7b0.488738"]]},{"id":"4018f7b0.488738","type":"debug","z":"a2f613f5.d6fd4","name":"air humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":939.5,"y":458.9999876022339,"wires":[]},{"id":"e32a528c.f113b","type":"function","z":"a2f613f5.d6fd4","name":"barometric_pressure","func":"\nmsg.payload = (msg.payload.readUInt16BE(11))*2;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":498.9999876022339,"wires":[["1b0b9171.57c04f"]]},{"id":"1b0b9171.57c04f","type":"debug","z":"a2f613f5.d6fd4","name":"barometric_pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":939.5,"y":499.9999876022339,"wires":[]},{"id":"355c4d9b.c68892","type":"function","z":"a2f613f5.d6fd4","name":"ambient_light_ch0","func":"\nmsg.payload = (msg.payload.readUInt16BE(13));\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":535.9999876022339,"wires":[["57f1a6f3.f4e8c8"]]},{"id":"57f1a6f3.f4e8c8","type":"debug","z":"a2f613f5.d6fd4","name":"ambient_light_ch0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":921.5,"y":535.9999876022339,"wires":[]},{"id":"eb99fb12.7ca878","type":"function","z":"a2f613f5.d6fd4","name":"ambient_light_ch1","func":"\nmsg.payload = (msg.payload.readUInt16BE(15));\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":577.9999876022339,"wires":[["1118b7b.f1ff948"]]},{"id":"1118b7b.f1ff948","type":"debug","z":"a2f613f5.d6fd4","name":"ambient_light_ch1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910.5,"y":577.9999876022339,"wires":[]},{"id":"860216d9.8e25c8","type":"function","z":"a2f613f5.d6fd4","name":"co2_concentration","func":"msg.payload = (msg.payload.readUInt16BE(17))-32768;\nreturn msg;","outputs":1,"noerr":0,"x":654,"y":615.9999876022339,"wires":[["2e2cc553.5009ea"]]},{"id":"2e2cc553.5009ea","type":"debug","z":"a2f613f5.d6fd4","name":"co2_concentration","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":907.5,"y":615.9999876022339,"wires":[]},{"id":"949af279.d450e","type":"function","z":"a2f613f5.d6fd4","name":"co2_sensor_status","func":"msg.payload = msg.payload.readUInt16BE(19);\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":652.9999876022339,"wires":[["4c954fec.f9b62"]]},{"id":"4c954fec.f9b62","type":"debug","z":"a2f613f5.d6fd4","name":"co2_sensor_status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":902.5,"y":652.9999876022339,"wires":[]},{"id":"f198c853.3c9ad8","type":"function","z":"a2f613f5.d6fd4","name":"Raw_IR_reading","func":"msg.payload = msg.payload.readUInt16BE(21);\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":689.9999876022339,"wires":[["33507d1d.87f7b2"]]},{"id":"33507d1d.87f7b2","type":"debug","z":"a2f613f5.d6fd4","name":"Raw_IR_reading","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":904.5,"y":689.9999876022339,"wires":[]},{"id":"326f86.f544d07a","type":"function","z":"a2f613f5.d6fd4","name":"PIR_activity_counter","func":"msg.payload = msg.payload.readUInt16BE(23);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":727.9999876022339,"wires":[["8a3b1373.27f5a"]]},{"id":"8a3b1373.27f5a","type":"debug","z":"a2f613f5.d6fd4","name":"PIR_activity_counter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":915.5,"y":727.9999876022339,"wires":[]},{"id":"83304c12.efbb3","type":"function","z":"a2f613f5.d6fd4","name":"Gas_sensor_total_VOC","func":"msg.payload = msg.payload.readUInt16BE(25);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":764.9999876022339,"wires":[["5230ceb7.24fa1"]]},{"id":"5230ceb7.24fa1","type":"debug","z":"a2f613f5.d6fd4","name":"Gas_sensor_total_VOC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930.5,"y":764.9999876022339,"wires":[]},{"id":"67ccd12b.096de","type":"function","z":"a2f613f5.d6fd4","name":"received != undefined?","func":"if(typeof msg.payload !== 'undefined') {\n   return msg;\n} else {\n    // return nothing\n}\n","outputs":1,"noerr":0,"x":703.5,"y":140,"wires":[["e9e619fe.4bcdc8"]]},{"id":"b2d63575.e9e5e8","type":"mqtt-broker","z":"a2f613f5.d6fd4","name":"","broker":"192.168.1.214","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
